---
export const prerender = true

import CategoryTag from '@/components/CategoryTag.astro'
import '../style/post.css'
import BaseLayout from '@/layouts/BaseLayout.astro'

import { getCategoryById } from '@/lib/categories'
import { getFeaturedImage } from '@/lib/media'
import { getPosts } from '@/lib/posts'

import type { IMedia } from '@/types/mediaTypes'
import { Image } from 'astro:assets'
import { dateFormat } from '@/utils/helper'

const { slug } = Astro.params

// const post = await getPostBySlug(slug)

// const postCategories = await Promise.all(
//   post.categories.map(async category => {
//     const data = await getCategoryById(category)

//     return data
//   })
// )

// const featuredImage = await getFeaturedImage(post.featured_media)

export async function getStaticPaths() {
  const allPosts = await getPosts(
    'https://wp.zivjetizdravo.com/wp-json/wp/v2/posts'
  )

  const paths = Promise.all(
    allPosts.map(async post => {
      const postCategories = await Promise.all(
        post.categories.map(async category => {
          const data = await getCategoryById(category)

          return data
        })
      )

      const featuredImage = await getFeaturedImage(post.featured_media)

      return {
        params: {
          slug: post.slug
        },
        props: { post, postCategories, featuredImage }
      }
    })
  )

  return paths
}

type Props = {
  post: IPost
  postCategories: ICategory[]
  featuredImage: IMedia
}

const { post, postCategories, featuredImage }: Props = Astro.props
---

<BaseLayout title={post.title.rendered}>
  <div class="relative h-[25rem] overflow-hidden rounded-2xl">
    <Image
      width={1000}
      height={500}
      src={featuredImage.source_url}
      alt={post.title.rendered}
      format="webp"
      class="h-full w-full object-cover"
    />
  </div>

  <div class="mx-auto my-10 flex max-w-[47rem] items-center lg:my-16">
    <div class="flex">
      {postCategories.map(category => <CategoryTag category={category} />)}
    </div>

    <p>{dateFormat(post.date)}</p>
  </div>

  <div class="mx-auto max-w-[47rem]">
    <h1 class="mb-10 lg:mb-16">{post.title.rendered}</h1>

    <div class="posts-content" set:html={post.content.rendered} />
  </div>
</BaseLayout>
