---
import { Image } from 'astro:assets'
import { twMerge } from 'tailwind-merge'
import CategoryTag from './CategoryTag.astro'

import { getFeaturedImage } from '@/lib/media'
import { getCategoryById } from '@/lib/categories'

import { dateFormat } from '@/utils/helper.astro'

interface Props extends IPost {
  cardContainerClass?: string
  className?: string
  headingClass?: string
}

const {
  title,
  featured_media,
  categories,
  date,
  slug,
  cardContainerClass,
  headingClass
}: Props = Astro.props

const featuredImage = await getFeaturedImage(featured_media)

const postCategories = await Promise.all(
  categories.map(async category => {
    const data = await getCategoryById(category)

    return data
  })
)
---

<article
  class={twMerge(
    'relative overflow-hidden rounded-2xl cursor-pointer duration-300 hover:scale-[1.03] hover:shadow-2xl ',
    cardContainerClass
  )}
>
  <a href={`/${slug}`} class="block h-fit">
    <div class="absolute inset-0 h-full w-full">
      <Image
        width={800}
        height={500}
        src={featuredImage.source_url}
        alt={title.rendered}
        format="webp"
        class="min-h-full w-full object-cover object-center"
      />
    </div>
    <div
      class="absolute bottom-0 left-0 flex w-full flex-col bg-black/25 p-4 sm:backdrop-blur-sm lg:p-6"
    >
      <div class="mb-2 flex items-center">
        <div class="flex">
          {postCategories.map(category => <CategoryTag category={category} />)}
        </div>
        <p class="text-[0.75rem] text-white sm:text-sm">{dateFormat(date)}</p>
      </div>
      <h2
        class={twMerge(
          'text-lg sm:text-xl lg:text-2xl text-white',
          headingClass
        )}
      >
        {title.rendered}
      </h2>
    </div>
  </a>
</article>
