---
import { dateFormat } from '@/utils/helper'
import { Image } from 'astro:assets'
import { twMerge } from 'tailwind-merge'
import CategoryTag from './CategoryTag.astro'
import { getFeaturedImage } from '@/lib/media'
import { getCategoryById } from '@/lib/categories'

interface Props extends IPost {
  cardContainerClass?: string
  className?: string
  imgContainerClass?: string
  titleClass?: string
}

const {
  title,
  featured_media,
  categories,
  date,
  link,
  slug,
  imgContainerClass,
  titleClass
}: Props = Astro.props

const featuredImage = await getFeaturedImage(featured_media)

const postCategories = await Promise.all(
  categories.map(async category => {
    const data = await getCategoryById(category)

    return data
  })
)
---

<article class="flex flex-col gap-6">
  <a href={`/${slug}`} class="">
    <div
      transition:name="featured image"
      class={twMerge(
        'h-60 overflow-hidden rounded-2xl 2xl:h-72 duration-300 hover:scale-[1.03] hover:shadow-2xl',
        imgContainerClass
      )}
      transition:name={slug}
      transition:persist
    >
      <Image
        width={1000}
        height={500}
        src={featuredImage.source_url}
        alt={title.rendered}
        format="webp"
        class="h-full w-full object-cover"
      />
    </div>
  </a>

  <div class="">
    <div class="flex items-center">
      <div class="flex">
        {postCategories.map(category => <CategoryTag category={category} />)}
      </div>
      <p class="text-[0.75rem] text-dark-gray sm:text-sm">{dateFormat(date)}</p>
    </div>
    <a href={`/${slug}`}>
      <h2
        class={twMerge(
          'mt-4 sm:mt-6 text-lg sm:text-xl md:text-2xl',
          titleClass
        )}
      >
        {title.rendered}
      </h2>
    </a>
  </div>
</article>
